html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #8f8f8f;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    overflow-x: hidden;
    font-family: 'Secular One', sans-serif;
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* Page Start */

#title {
    background: url(../assets/images/cross_background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding: 0 4% 7%;
}

/* Nav Bar */

.navbar {
    padding: 10px;
	padding-right: 42px;
	margin: 0 auto;
}

.logo-navbar {
    width: 150px;
}

.navbar-nav li {
    font-size: 20px;
    padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	border: none;
	background: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #000;
	background: #fff;
}

/* Title */

.title-box {
    padding-top: 65px;
    text-align: center;
}

.title-box-box {
	margin-bottom: 40px;
}

.title-text {
    margin-bottom: 20px;
}

.title-box h3 {
    font-size: 1.5rem;
}

.title-box h1 {
    font-size: 5rem;
}

.title-box h2 {
    font-size: 2.5rem;
}

.call-button {
    border-color: #212529;
    margin-top: 60px;
	word-spacing: 3px;
	letter-spacing: 2px;
}

/* Scroll Gif */

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
    margin-top: 80px;
}
.scroll-btn > * {
	display: block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 25px;
	height: 40px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

/* Containers Contents */

.containers-contents {
	padding: 7% 5%;
}

/* Worship Section */

.worship-title {
	font-size: 4rem;
	text-decoration: underline;
	color: #015B41;
}

.worship-box {
	padding: 30px 0;
}

.col-worship-box {
	padding: 80px 120px;
}

.col-worship-title {
    font-size: 2.5rem;
}

.worship-box-img {
	width: 300px;
	display: block;
	margin: 30px auto;
}

.col-worship-paragraph {
	font-size: 20px;
	text-align: justify;
	line-height: 2;
	color: #8f8f8f;
}